*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#020817;
    color:white;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#031122;
}

.logo{
    font-size:30px;
    color:#00e5d0;
    font-weight:bold;
}

.logo span{
    color:white;
    margin-left:10px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.book-btn{
    background:#00e5d0;
    color:black;
    padding:12px 25px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8%;
}

.left{
    width:50%;
}

.welcome{
    color:#00e5d0;
    margin-bottom:20px;
}

.left h1{
    font-size:70px;
    line-height:90px;
}

.left h1 span{
    color:#00e5d0;
}

.desc{
    margin:30px 0;
    color:#b5b5b5;
    font-size:20px;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn1{
    background:#00e5d0;
    color:black;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
}

.btn2{
    border:2px solid #00e5d0;
    color:white;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
}

/* Right Side */

.right{
    width:45%;
    position:relative;
}

.circle{
    width:500px;
    height:500px;
    background:#00e5d025;
    border:2px solid #00e5d0;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow:0 0 60px #00e5d0;
}

.right img{
    width:100%;
    position:relative;
    z-index:2;
}

/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    padding:50px 8%;
}

.card{
    background:#071527;
    border:1px solid #00e5d020;
    border-radius:25px;
    padding:35px;
    transition:.4s;
}

.card i{
    font-size:35px;
    color:#00e5d0;
    margin-bottom:20px;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00e5d0;
}
